ul {
  list-style: none  ;
  padding : 0  ;
}

li {
  padding: 0px;
  margin: 0  ;
}

.body-one {
    background: #3b0440 url("../assets/img/56492.jpg") no-repeat right top;
}

.curved-header {
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.6);
background-color: #993399;
   padding-bottom: 10px;
   padding-right: 10px;
   padding-left: 10px;
}

.curved-sidebar {
z-index: 2;
  position: absolute;
   left: 0px;
   top: 180px;
   -webkit-border-top-right-radius: 10px;
   -webkit-border-bottom-right-radius: 10px;
   -moz-border-radius-topright: 10px;
   -moz-border-radius-bottomright: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.6);
background-color: #993399;
   padding-bottom: 10px;
   padding-right: 10px;
}

.curved-searchbar {
   -webkit-border-top-right-radius: 10px;
   -webkit-border-bottom-right-radius: 10px;
   -moz-border-radius-topright: 10px;
   -moz-border-radius-bottomright: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   color: #fff;
   line-height: 20px;
width: 50px;
height: 40px;
margin-top: 10px;
border-width: 0;
background: #2a032d url("../assets/img/lens.png") no-repeat scroll 7px 7px;
padding-left:40px;
}

.curved-searchbar:focus {
   -webkit-border-top-right-radius: 10px;
   -webkit-border-bottom-right-radius: 10px;
   -moz-border-radius-topright: 10px;
   -moz-border-radius-bottomright: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   color: #fff;
   line-height: 20px;
width: 200px;
height: 40px;
margin-top: 10px;
border-width: 0;
background: #2a032d url("../assets/img/lens.png") no-repeat scroll 7px 7px;
padding-left:40px;
}

.curved-searchbar:hover {
   -webkit-border-top-right-radius: 10px;
   -webkit-border-bottom-right-radius: 10px;
   -moz-border-radius-topright: 10px;
   -moz-border-radius-bottomright: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   color: #fff;
   line-height: 20px;
width: 200px;
height: 40px;
margin-top: 10px;
border-width: 0;
background: #2a032d url("../assets/img/lens.png") no-repeat scroll 7px 7px;
padding-left:40px;
}

.curved-categories {
   -webkit-border-top-right-radius: 10px;
   -webkit-border-bottom-right-radius: 10px;
   -moz-border-radius-topright: 10px;
   -moz-border-radius-bottomright: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   color: #fff;
   line-height: 20px;
width: 50px  ;
height: 40px  ;
margin-top: 10px  ;
border-width: 0  ;
background: #2a032d url("../assets/img/categories.png") no-repeat scroll 7px 7px;
padding-left:40px;
}

.gamesplayed {
  left: 0px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.gamesplayedlist {
  padding-bottom: 10px;
}

.curved-gamesplayed {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
width: 50px  ;
min-height: 140px  ;
margin-top: 10px  ;
border-width: 0  ;
background-color: #2a032d;
padding-left:40px;
}

.curved-language {
   -webkit-border-top-right-radius: 10px;
   -webkit-border-bottom-right-radius: 10px;
   -moz-border-radius-topright: 10px;
   -moz-border-radius-bottomright: 10px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   color: #fff;
   line-height: 20px;
width: 50px;
height: 40px;
margin-top: 10px;
border-width: 0;
padding-left:40px;
background-color: #2a032d;
}

.flags {
  left: 10px;
  position: absolute;
}

.main-container {
  position: absolute;
  top: 180px;
  left: 250px;
}

.game-container {
  margin-right: 20px;
  margin-bottom: 20px;
}


.curved-input{
  background: url("../assets/img/lens.png") no-repeat scroll 7px 7px;
  padding-left:30px;
}


/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 300px) {
/* Styles */


}
